# Node
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
*.egg-info/

# VSCode
.vscode/

# Environment
.env
.env.*

# OS/Editor
.DS_Store
Thumbs.db

# Logs
*.log

# Build
/dist/
/build/

*.pyc
__pycache__/