fastapi
uvicorn[standard]
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
numpy
pandas
yfinance
PyPortfolioOpt
pydantic-extra-types
email-validator
typing_extensions
google-auth
google-auth-oauthlib
requests
google-genai
packaging
sqlalchemy
psycopg2-binary
alembic